
 * {box-sizing: border-box;
margin: 0;
padding: 0;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 1.2em;
  overflow-x: hidden;
}

body p {
  font-size: 1rem;
  font-weight: 100;
  color: #616161;
}

body h1, h2 {
  color: #444649;
}

body h2 {
  font-size: 2em;
}



#particles-js {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0
}


/*DROPDOWN NAV*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #1B242F;
  overflow: hidden;
  font-weight: lighter;
  border-bottom: solid 4px;
  border-color: #04C2C9;
  

}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}



/* Add an active class to highlight the current page on the nav*/

.topnav .active, .btns:hover {
  color: #E31B6D;
  transition: all 0.5s;
   
}



/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}



/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon 
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
*/

/* STICKY NAV */
.scrollsticky {
  z-index: 100;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #about {
  padding-top: 94px;
}



/* HERO IMAGE */


.heroimage {
  height: calc(100vh);
  width: calc(100vw);
  overflow: hidden;
}

.heroimage {
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: #252934;
}

.textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textcenter h1 {
  color: white;
  display: inline-block;
  font-weight: 100;
  font-size: 2.2em;
}

#tony {
  color: #E31B6D;
  font-weight: 600;
}
 /* HERO button */

#buttonpadding {
  padding-top: 2em;
 
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
}

a.button1:hover {
  color: #E31B6D;
  background-color: #f5f5f5;
}


/* heading styles */
.headings h2 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}


.contactheading h2 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* ABOUT SECTION */

#about span {
  position: relative;
}

#about span::before, #about span::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #444649;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#about span::before {
  top: 0;
  transform-origin: center right;
}

#about span:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

#about span:active::before {
  transform-origin: center left;
  transform: scaleX(1);
}

#about span::after {
  bottom: 0;
  transform-origin: center left;
}

#about span:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}
#about span:active::after {
  transform-origin: center right;
  transform: scaleX(1);
}

#about {
  padding-top: 2em;
}


.flex-container p {
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 1em;
  padding-right: 1em;
}

.flex-container > div {
  width: 300px;
  padding-bottom: 5em;
}


 /* icons */

.icon {
  text-align: center;

}

.icon1 {
  text-align: center;
}

.icon1 i {
  text-align: center;
  font-size: 5em;
  padding-bottom: 1rem;
  color: #E31B6D;
  border-radius: 25px;
  padding: 20px;
}
.icon i {
  text-align: center;
  font-size: 5em;
  padding-bottom: 1rem;
  color: #04C2C9;
}

.icon h3 {
  text-align: center;
  padding-bottom: 1rem;
  color: #616161;

}
.icon1 h3 {
  text-align: center;
  padding-bottom: 1rem;
  color: #616161;

}



/* SKILLS*/
#skills span {
  position: relative;
}

#skills span::before, span::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #444649;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#skills span::before {
  top: 0;
  transform-origin: center right;
}

#skills span:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
#skills span:active::before {
  transform-origin: center left;
  transform: scaleX(1);
}

#skills span::after {
  bottom: 0;
  transform-origin: center left;
}

#skills  span:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}
#skills span:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.flex-container2 > div {
  width: 400px;
  padding-bottom: 4rem;
}
.flex-container2 > div h2 {
  padding: 1rem;
  text-align: center;
}

.flex-container2 > div p {
  text-align: center;
}

.wrapper2 {
  background-color: #f5f5f5;
  padding-bottom: 1em;
  padding-top: 2.2em;
}

/*PROJECTS*/

#projects span {
  position: relative;
}

#projects span::before, #projects span::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #444649;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}


#projects span::before {
  top: 0;
  transform-origin: center right;
}

#projects span:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
#projects span:active::before {
  transform-origin: center left;
  transform: scaleX(1);
}
#projects span::after {
  bottom: 0;
  transform-origin: center left;
}

#projects  span:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}
#projects span:active::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.buttonpadding2 {
  padding-top: 2em;
}
a.button2 {
  display: inline-block;
  padding: 0.35em 1.2em;
  font-size: .8em;
  border: 0.1em solid #616161;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #616161;
  text-align: center;
  transition: all 0.5s;
}

a.button2:hover {
  color: #04C2C9;
  border-color: #04C2C9;
 
}


.wrapper4 {
  padding-top: 2em;
}
#projects {
  padding-bottom: 4.5em;
}

#projects2 {
  padding-bottom: 4.5em;
}

#projects3 {
  padding-bottom: 4.5em;
}

.flex-container3 > div {
  display: flex;
  flex-wrap: wrap;
}


.projectwords h3, p {
  color: #616161;
  text-align: left;

}
.projectwords h3 {
  padding-bottom: .6em;
  color: #616161;
  text-align: left;

}

.flex-container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container3 > div {
  width: 40%;
}



/*GALLERY*/
#gallery span {
  position: relative;
}

#gallery span::before, #gallery span::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #444649;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#gallery span::before {
  top: 0;
  transform-origin: center right;
}

#gallery span:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
#gallery span:active::before {
  transform-origin: center left;
  transform: scaleX(1);
}

#gallery span::after {
  bottom: 0;
  transform-origin: center left;
}

#gallery span:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}
#gallery span:active::after {
  transform-origin: center right;
  transform: scaleX(1);
}


.headingtravel h2 {
   text-align: center;
  padding-top: .9em;
  padding-bottom: 2em;
 
}

.gallerywrapper img {
  width: 100%;
}



#gallery{
  background-color: #f5f5f5;
 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

/* MOBILE GALLERY */


.header {
  text-align: center;
  padding: 32px;
   background-color: #f5f5f5;
}
 
.mobilecolor {
  background-color: black;
}
.gallerywrapper {
  padding-bottom: 1em;
  background-color: #f5f5f5;

}

.row {

   display: flex;
   /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  font-size: .8em;
  border: 0.1em solid #616161;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #616161;
  text-align: center;
  transition: all 0.5s;
  -webkit-appearance: none;
}

.btn:hover {
  color: #04C2C9;
  border-color: #04C2C9;
}

.btn:active {
  color: #04C2C9;
  border-color: #04C2C9;
}

.btn.active2 {
  color: #04C2C9;
  border-color: #04C2C9;
}

.active2 {
    color: #04C2C9;
  border-color: #04C2C9;
}



/* CONTACT */
.contactheading span {
  position: relative;
}

.contactheading span::before, .contactheading span::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #04C2C9;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.contactheading span::before {
  top: 0;
  transform-origin: center right;
}

.contactheading span:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
.contactheading span:active::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.contactheading span::after {
  bottom: 0;
  transform-origin: center left;
}

.contactheading  span:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}
.contactheading  span:active::after {
  transform-origin: center right;
  transform: scaleX(1);
}


.formpadding {
  position: relative;
}

input, textarea {
  width: 6.5em;
  color: white;
  font-size: inherit;
  font-family: inherit;
  background-color: #1B242F;
  padding: 0.35em 0.45em;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out;
}
input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: #1B242F inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffff;
}

input:focus, textarea:focus {
  outline: none;
}


.formpadding span {
  position: absolute;
  background-color: #3cefff;
  transition: transform 0.5s ease;
}



.bottom,
.top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left,
.right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

input:focus ~ .bottom, textarea:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.right {
  right: 0;
  transform-origin: top right;
}

input:focus ~ .right, textarea:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.top {
  top: 0;
  transform-origin: top left;
}

input:focus ~ .top, textarea:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

.left {
  left: 0;
  transform-origin: bottom left;
}

input:focus ~ .left, textarea:focus ~.left {
  transform-origin: top left;
  transform: scaleY(1);
}



label {
  color: #ffffff;
  font-size: 16px;
}

.wrapper3 {
  background-color: #252934;
  padding-top: 2.2em;
  padding-left: 4em;
  padding-right: 4em;
}

.wrapper3 h2 {
  color: white;
}

#contactinfo p {
  text-align: center;
  color: #02C2C7;
  padding-bottom: 1em;
  font-size: 1.1rem;
}

.formpadding {
  margin-top: 8px;
  margin-bottom: 15px;
}
/* Style inputs with type="text", select elements and textareas */
form {
  padding-bottom: 4em;
}
input[type=text], select, textarea {
  border-width: 0px;
  font-size: 16px;
  cursor: pointer;
  width: 500px; /* Full width */
  padding: 12px; /* Some padding */  
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=email], select, textarea {
  font-size: 16px;
  border-width: 0px;
  cursor: pointer;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}



/* Style the submit button with a specific background color etc */
input[type=submit] {
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  border: 0.1em solid #ffffff;
  background-color: #252934;
  padding: 10px 30px;
  margin: 5px 0 0 0;
  box-sizing: border-box;
  text-decoration: none;
  width: 130px;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  font-size: .8em;
}




/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  cursor: pointer;
  background-color: #02C2C7;
}



/* Add a background color and some padding around the form */
.containerform {
  display: flex;
  justify-content: center;
  background-color: #252934;
  padding-top: 20px;
  padding-left: 22%;
  padding-right: 22%;
}

/* FOOTER */
footer {
  background-color: #1B242F;
  padding: 70px 0 50px 0;
  position: relative;
}

footer i {
  text-align: center;
  font-size: 40px;
}

.backtotop {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: -25px;
  border-radius: 2px;
  background: #E31B6D;
  font-size: 30pt;
  width: 47px;
  height: 50px;
  line-height: 40pt;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  transition: background .5s;
}

.backtotop:hover {
background-color: #04C2C9;
}

.backtotop i {
  color: white;
}

.backtotop i:hover {
  color:  #E31B6D;
  transition: background .5s;
}

.media {
  text-align: center;
}
.media i {
  font-size: 3em;
  color: gray;
  padding-left: .6rem;
  padding-right: .6rem;
}

.media i:hover {
  color: #04C2C9;
  transition: background .5s;
}

#smalltext {
  text-align: center;
  padding-top: 2em;
}

#myName {
  color:  #D3D3D3;
}

#year {
  color: #04C2C9;
}

@media screen and (max-width: 600px) {
  input[type=text], select, textarea {
  width: 350px;
  }

}
@media screen and (max-width: 374px) {
  input[type=text], select, textarea {
  width: 300px;
  }

}

@media screen and (max-width: 700px) {
   .textcenter {
    font-size: .7em;
    width: 100%;
    font-weight: 700;
  }
}



@media screen and (max-width: 800px) {
   .mainwrapper {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
   .btns  {
    width: 125px;
  }
}

@media screen and (max-width: 600px) {
   .gallery {
    display: none;
  }
}

@media screen and (max-width: 800px) {
   .flex-container2 > div {
    width: 45%;
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
   .flex-container > div {
    width: 40%;
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
   .flex-container > div > p {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (max-width: 600px) {
   .flex-container > div > p {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
   .flex-container > div > p {
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media screen and (min-width: 1300px) {
   .flex-container > div {
    width: 25%;
    justify-content: center;
  }
}

@media screen and (min-width: 1000px) {
   .flex-container2 > div {
    width: 40%;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
   .flex-container2 > div {
    width: 25%;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
   .wrapper2 {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}


@media screen and (min-width: 600px) {
   .row {
    display: none;
  }
}

@media screen and (min-width: 600px) {
   .header {
    display: none;
  }
}






/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  a.mobilenone {
    display: none;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
 This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive {float: none;}
  .topnav.responsive {position: relative;}
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}



@media screen and (max-width: 600px) {
  .containerform {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
  }
  .sticky + #about {
  padding-top: 95px;
  }

}

@media screen and (min-width: 600px) {
  .sticky + #about {
  padding-top: 92px;
  }

}

@media screen and (min-width: 982px) {
  .sticky + #about {
  padding-top: 92px;
  }

}




@media screen and (max-width: 1000px) {
  .flex-container3 > div {
    width: 100%;
  }

}


@media screen and (max-width: 1000px) {
  .projectwords h3, p {
   text-align: center;
   padding-left: 3em;
   padding-right: 3em;
  }
}

@media screen and (max-width: 1000px) {
  .buttonpadding2 {
   text-align: center;
   padding-left: 3em;
   padding-right: 3em;
  }
}




@media screen and (max-width: 1000px) {
  .wrapper3 p {
   padding-left: 0pc;
   padding-right: 0pc;
  }
}


@media screen and (max-width: 1000px) {
  .video{
   justify-content: center;
   padding-top: 2em;
  }
  }